<section class="mat-typography">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis nibh eu tellus efficitur, eget
    convallis elit pellentesque. Duis commodo dolor sem, facilisis fringilla magna scelerisque nec. Pellentesque lacus
    tortor, auctor et ullamcorper ac, lobortis vitae urna. Nam vitae nibh nec sem pharetra pellentesque in quis turpis.
    Ut quam ipsum, placerat nec quam ac, cursus euismod dolor. Duis vehicula tempus feugiat. Mauris orci neque, tempus
    nec ipsum non, cursus suscipit mi. Praesent ut justo sed tortor ultrices commodo. Quisque ut tellus vel urna tempor
    faucibus. Quisque blandit tincidunt fringilla.
  </p>
  <div>
    <a mat-fab routerLink="/books/edit">Books</a>
  </div>
</section>
